.top {
    top: 0;
}

.bottom {
    bottom: 0;
    transform: rotate(180deg);
}

.wave {
    position: relative;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: 150%;
    height: 5vw;
    transition: color 0.33s;
}
